<div class="comment">
  <div class="row">
    <div class="col-md-1 col-xs-2">
      <%= gravatar_tag comment.author.email, size: 39, html: {  class: 'img-circle' } %>

    </div>
    <div class="col-md-11 col-xs-10">
      <p>
        <strong><%= comment.author.email %></strong>
        <span class='comment-date'>
          <%= timeago_tag comment.created_at, :nojs => false, :limit => 10.days.ago %>
        </span>
      </p>
      <%= comment.body %>
    </div>

  </div>
</div>
