<% content_for :title do %>
  <%= render "projects/header_link" %>

  <i class='fa fa-angle-right'></i>
  Archived stacks
<% end %>

<div class="row mt">
  <div class="col-lg-12">

    <% if @archived_stacks.any?  %>
      <% @archived_stacks.in_groups_of(4).each do |stacks| %>
        <%= render partial: 'stacks/stack_row', locals: { stacks: stacks } %>
      <% end %>
    <% else %>
      <div class="alert alert-info">
        <b>Nothing to see here.</b> Please move along!
      </div>
    <% end %>

  </div>

  <div class='col-lg-12'>
    <%= link_to new_project_stack_path(@project), class: 'btn btn-lg btn-theme03' do %>
      Create stack
    <% end %>

    <%= link_to project_path(@project), class: 'btn btn-lg btn-text' do %>
      Show active stacks
    <% end %>
  </div>
</div>
