<% content_for :title do %>
  <%= @project.name %>
  <i class='fa fa-angle-right'></i>
  <%= @stack.name %>
<% end %>

<div class="row mt">
  <div class="col-md-12">
    <section class="task-panel tasks-widget">
      <div class="panel-heading">
        <div class="pull-left"><h4><i class="fa fa-tasks"></i> Tasks </h4></div>
        <br>
      </div>
      <div class="panel-body">
        <div class="task-content">

          <%= form_for([@project, @stack, @stack.task_list, @stack.task_list.tasks.build], remote: true) do |f| %>
            <%= text_field_tag "new_task",
              "",
              class: 'form-control',
              placeholder: 'Enter new task' %>
          <% end %>

          <br />

          <ul class="task-list">
            <li>
              <div class="task-checkbox">
                <input type="checkbox" class="list-child" value=""  />
              </div>
              <div class="task-title">
                <span class="task-title-sp">Dashgum - Admin Panel Theme</span>
                <span class="badge bg-theme">Done</span>
                <div class="pull-right hidden-phone">
                  <button class="btn btn-success btn-xs"><i class=" fa fa-check"></i></button>
                  <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                  <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                </div>
              </div>
            </li>
            <li>
              <div class="task-checkbox">
                <input type="checkbox" class="list-child" value=""  />
              </div>
              <div class="task-title">
                <span class="task-title-sp">Extensive collection of plugins</span>
                <span class="badge bg-warning">Cool</span>
                <div class="pull-right hidden-phone">
                  <button class="btn btn-success btn-xs"><i class=" fa fa-check"></i></button>
                  <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                  <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                </div>
              </div>
            </li>
            <li>
              <div class="task-checkbox">
                <input type="checkbox" class="list-child" value=""  />
              </div>
              <div class="task-title">
                <span class="task-title-sp">Free updates always, no extra fees.</span>
                <span class="badge bg-success">2 Days</span>
                <div class="pull-right hidden-phone">
                  <button class="btn btn-success btn-xs"><i class=" fa fa-check"></i></button>
                  <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                  <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                </div>
              </div>
            </li>
            <li>
              <div class="task-checkbox">
                <input type="checkbox" class="list-child" value=""  />
              </div>
              <div class="task-title">
                <span class="task-title-sp">More features coming soon</span>
                <span class="badge bg-info">Tomorrow</span>
                <div class="pull-right hidden-phone">
                  <button class="btn btn-success btn-xs"><i class=" fa fa-check"></i></button>
                  <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                  <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                </div>
              </div>
            </li>
            <li>
              <div class="task-checkbox">
                <input type="checkbox" class="list-child" value=""  />
              </div>
              <div class="task-title">
                <span class="task-title-sp">Hey, seriously, you should buy this Dashboard</span>
                <span class="badge bg-important">Now</span>
                <div class="pull-right">
                  <button class="btn btn-success btn-xs"><i class=" fa fa-check"></i></button>
                  <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                  <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class=" add-task-row">
          <a class="btn btn-success btn-sm pull-left" href="todo_list.html#">Add New Tasks</a>
          <a class="btn btn-default btn-sm pull-right" href="todo_list.html#">See All Tasks</a>
        </div>
      </div>
    </section>
  </div><!-- /col-md-12-->
</div><!-- /row -->
