<% content_for :submenu do %>
  <ul class="nav nav-pills pull-right">
    <!-- <li role="presentation" class="active"><a href="#">Settings</a></li> -->
    <% if @project.owner == current_user %>
      <li role="presentation">
        <%= link_to edit_project_path(@project) do %>
          Settings
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>


<% if params[:show] == 'archived' %>
  <%= render "stacks/archived" %>
<% else %>
  <%= render "stacks/active" %>
<% end %>
