// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comments{

  .comments-count {
    margin-bottom: 15px;
  }

  .comment {

    border-top: 1px solid #ddd;
    margin-top: 10px 0;
    padding: 10px 0;

    .comment-date {
      color: #bbb;
    }

  }

  .comment.unread{
    background: #FDF5E6;
  }

  .files {
    border-top: 1px dashed #bbb;
    border-bottom: 1px dashed #bbb;
    padding: 0px 0;
    margin-bottom: 15px;

    .file {
      padding: 10px 0;

      &:not(:last-child){
        border-bottom: 1px solid #eee;

      }

      &:hover {
        background: #f7f7f7;
      }

    }

    .upload-button {
      margin-top: 10px;
      float: right;
    }
  }
}
