// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


i.starred {
  color:  #FFDC00;

  &:hover {
    color: #ddd;
  }
}

i.not-starred {
  color: #bbb;

  &:hover {
    color: #FFDC00
  }
}
