<% content_for :title do %>
  Your organizations
<% end %>

<% current_user.organizations.each do |o| %>
  <div class='col-md-12'>
    <h3>
      <%= link_to o do %>
        <i class='fa fa-group'></i>
        <%= o.name %>
      <% end %>
    </h3>
  </div>
<% end %>

<div class="col-md-12">
  <hr />
</div>

<div class='col-lg-12'>
  <%= link_to new_organization_path, class: 'btn btn-lg btn-theme03' do %>
    Create organization
  <% end %>
</div>
