<% content_for :title do %>
  <%= @organization.name %>
<% end %>

<div class="row mt">
  <div class="col-lg-12">
    <div class="form-panel">
      <h4 class="mb"><i class="fa fa-angle-right"></i> Add users to organization</h4>
      <%= form_tag(add_members_organization_path(@organization), class: 'form-horizontal style-form') do |f|  %>
        <div class="form-group">
          <label class="col-sm-2 col-sm-2 control-label">Users</label>
          <div class="col-sm-10">
            <%= text_field_tag :users, '', placeholder: "Enter user emails", class: 'form-control' %>
          </div>
        </div>
        <button type="submit" class="btn btn-theme">Add</button>
      <% end %>
    </div>
  </div><!-- col-lg-12-->
</div><!-- /row -->
