<header class="header black-bg">
  <div class="sidebar-toggle-box visible-xs">
    <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
  </div>
  <!--logo start-->
  <%= link_to root_path, class: 'logo' do %>
    <%= image_tag 'logo.png', width: '140px' %>
  <% end %>
  <!--logo end-->
  <!-- <div class="nav notify&#45;row" id="top_menu"> -->
  <!--   <!&#45;&#45;  notification start &#45;&#45;> -->
  <!--   <ul class="nav top&#45;menu"> -->
  <!--     <!&#45;&#45; settings start &#45;&#45;> -->
  <!--     <li class="dropdown"> -->
  <!--       <a data&#45;toggle="dropdown" class="dropdown&#45;toggle" href="index.html#"> -->
  <!--         <i class="fa fa&#45;tasks"></i> -->
  <!--         <span class="badge bg&#45;theme">4</span> -->
  <!--       </a> -->
  <!--       <ul class="dropdown&#45;menu extended tasks&#45;bar"> -->
  <!--         <div class="notify&#45;arrow notify&#45;arrow&#45;green"></div> -->
  <!--         <li> -->
  <!--           <p class="green">You have 4 pending tasks</p> -->
  <!--         </li> -->
  <!--         <li> -->
  <!--           <a href="index.html#"> -->
  <!--             <div class="task&#45;info"> -->
  <!--               <div class="desc">DashGum Admin Panel</div> -->
  <!--               <div class="percent">40%</div> -->
  <!--             </div> -->
  <!--             <div class="progress progress&#45;striped"> -->
  <!--               <div class="progress&#45;bar progress&#45;bar&#45;success" role="progressbar" aria&#45;valuenow="40" aria&#45;valuemin="0" aria&#45;valuemax="100" style="width: 40%"> -->
  <!--                 <span class="sr&#45;only">40% Complete (success)</span> -->
  <!--               </div> -->
  <!--             </div> -->
  <!--           </a> -->
  <!--         </li> -->
  <!--         <li> -->
  <!--           <a href="index.html#"> -->
  <!--             <div class="task&#45;info"> -->
  <!--               <div class="desc">Database Update</div> -->
  <!--               <div class="percent">60%</div> -->
  <!--             </div> -->
  <!--             <div class="progress progress&#45;striped"> -->
  <!--               <div class="progress&#45;bar progress&#45;bar&#45;warning" role="progressbar" aria&#45;valuenow="60" aria&#45;valuemin="0" aria&#45;valuemax="100" style="width: 60%"> -->
  <!--                 <span class="sr&#45;only">60% Complete (warning)</span> -->
  <!--               </div> -->
  <!--             </div> -->
  <!--           </a> -->
  <!--         </li> -->
  <!--         <li> -->
  <!--           <a href="index.html#"> -->
  <!--             <div class="task&#45;info"> -->
  <!--               <div class="desc">Product Development</div> -->
  <!--               <div class="percent">80%</div> -->
  <!--             </div> -->
  <!--             <div class="progress progress&#45;striped"> -->
  <!--               <div class="progress&#45;bar progress&#45;bar&#45;info" role="progressbar" aria&#45;valuenow="80" aria&#45;valuemin="0" aria&#45;valuemax="100" style="width: 80%"> -->
  <!--                 <span class="sr&#45;only">80% Complete</span> -->
  <!--               </div> -->
  <!--             </div> -->
  <!--           </a> -->
  <!--         </li> -->
  <!--         <li> -->
  <!--           <a href="index.html#"> -->
  <!--             <div class="task&#45;info"> -->
  <!--               <div class="desc">Payments Sent</div> -->
  <!--               <div class="percent">70%</div> -->
  <!--             </div> -->
  <!--             <div class="progress progress&#45;striped"> -->
  <!--               <div class="progress&#45;bar progress&#45;bar&#45;danger" role="progressbar" aria&#45;valuenow="70" aria&#45;valuemin="0" aria&#45;valuemax="100" style="width: 70%"> -->
  <!--                 <span class="sr&#45;only">70% Complete (Important)</span> -->
  <!--               </div> -->
  <!--             </div> -->
  <!--           </a> -->
  <!--         </li> -->
  <!--         <li class="external"> -->
  <!--           <a href="#">See All Tasks</a> -->
  <!--         </li> -->
  <!--       </ul> -->
  <!--     </li> -->
  <!--     <!&#45;&#45; settings end &#45;&#45;> -->
  <!--     <!&#45;&#45; inbox dropdown start&#45;&#45;> -->
  <!--     <li id="header_inbox_bar" class="dropdown"> -->
  <!--       <a data&#45;toggle="dropdown" class="dropdown&#45;toggle" href="index.html#"> -->
  <!--         <i class="fa fa&#45;envelope&#45;o"></i> -->
  <!--         <span class="badge bg&#45;theme">5</span> -->
  <!--       </a> -->
  <!--       <ul class="dropdown&#45;menu extended inbox"> -->
  <!--         <div class="notify&#45;arrow notify&#45;arrow&#45;green"></div> -->
  <!--         <li> -->
  <!--           <p class="green">You have 5 new messages</p> -->
  <!--         </li> -->
  <!--         <li> -->
  <!--           <a href="index.html#"> -->
  <!--             <span class="photo"></span> -->
  <!--             <span class="subject"> -->
  <!--               <span class="from">Zac Snider</span> -->
  <!--               <span class="time">Just now</span> -->
  <!--             </span> -->
  <!--             <span class="message"> -->
  <!--               Hi mate, how is everything? -->
  <!--             </span> -->
  <!--           </a> -->
  <!--         </li> -->
  <!--         <li> -->
  <!--           <a href="index.html#"> -->
  <!--             <span class="photo"></span> -->
  <!--             <span class="subject"> -->
  <!--               <span class="from">Divya Manian</span> -->
  <!--               <span class="time">40 mins.</span> -->
  <!--             </span> -->
  <!--             <span class="message"> -->
  <!--               Hi, I need your help with this. -->
  <!--             </span> -->
  <!--           </a> -->
  <!--         </li> -->
  <!--         <li> -->
  <!--           <a href="index.html#"> -->
  <!--             <span class="photo"></span> -->
  <!--             <span class="subject"> -->
  <!--               <span class="from">Dan Rogers</span> -->
  <!--               <span class="time">2 hrs.</span> -->
  <!--             </span> -->
  <!--             <span class="message"> -->
  <!--               Love your new Dashboard. -->
  <!--             </span> -->
  <!--           </a> -->
  <!--         </li> -->
  <!--         <li> -->
  <!--           <a href="index.html#"> -->
  <!--             <span class="photo"></span> -->
  <!--             <span class="subject"> -->
  <!--               <span class="from">Dj Sherman</span> -->
  <!--               <span class="time">4 hrs.</span> -->
  <!--             </span> -->
  <!--             <span class="message"> -->
  <!--               Please, answer asap. -->
  <!--             </span> -->
  <!--           </a> -->
  <!--         </li> -->
  <!--         <li> -->
  <!--           <a href="index.html#">See all messages</a> -->
  <!--         </li> -->
  <!--       </ul> -->
  <!--     </li> -->
  <!--     <!&#45;&#45; inbox dropdown end &#45;&#45;> -->
  <!--   </ul> -->
  <!--   <!&#45;&#45;  notification end &#45;&#45;> -->
  <!-- </div> -->
  <!-- <div class="top&#45;menu"> -->
  <!--   <ul class="nav pull&#45;right top&#45;menu"> -->
  <!--     <!&#45;&#45; <li> &#45;&#45;> -->
  <!--       <%# <%= link_to('Settings', destroy_user_session_path, method: :delete, class: 'logout') %> -->
  <!--     <!&#45;&#45; </li> &#45;&#45;> -->
  <!--     <li> -->
  <!--       <%#= link_to('Logout', destroy_user_session_path, method: :delete, class: 'logout') %> -->
  <!--     </li> -->
  <!--   </ul> -->
  <!-- </div> -->
</header>
